* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body{
    background-color: crimson;
    color: #fff;
}

h1{
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
}

img{
    width: 350px;
    border-radius: 50%;
    border: 5px solid lime;
}
main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    padding: 60px;
    gap: 30px;
}
.homework, .classwork{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
h2{
    font-size: 30px;
}
a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    background-color: lime;
    padding: 5px 10px;
}